* {
    margin: 0;
    padding: 0;
    font-family: 'Pobeda';
    color: #EEEEEE;
}
@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/ofont.ru_Pobeda_bold.ttf');
}
@font-face {
    font-family: 'Pobeda_Regular';
    src: url('../fonts/ofont.ru_Pobeda.ttf');
}

body {
    background-color: #161616;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 26px;
    margin-left: -10px;
    z-index: 100000;
}
.headerLeft {
    margin-top: 7px;
}
.headerMiddle {
    width: 743px;
    height: 75px;
    background-image: url(images/блокДляШапки.png);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}
.headerMiddle a, .headerRight a {
    padding-top: 22px;
    text-decoration: none;
}
.headerRight {
    width: 98px;
    height: 75px;
    background-color: #FA6312;
    display: flex;
    justify-content: space-around;
    transition: 0.3s ease;
}
.headerRight:hover {
    background-color: #c24a09;
}
.headerMiddle a:after {
    content: "";
    background-color: #eae2dd;
    display: block;
    height: 2px;
    width: 0%;
    transition: 0.3s ease-in-out;
}
.headerMiddle a:hover:after {
    width: 100%;
}

.mainOne {
    width: 100%;
    height: 736px;
}
.image {
    background-image: url(images/домНачало.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    height: 815px;
}
.textMainOne {
    width: 800px;
    margin-left: 735px;
    margin-top: -560px;
    font-size: 50px;
    text-align: right;
}
.textTwo {
    margin-top: -16px;
}
h1 span {
    color: #FA6312;
}
button {
    width: 356px;
    height: 90px;
    background-color: #FA6312;
    font-size: 37px;
    margin-left: 1169px;
    margin-top: 25px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 100;
}
button:hover {
    background-color: #c24a09;
}
#chooseApartment.fixed {
    position: fixed;
    top: 500px;
    right: -10px;
    width: 250px;
    height: 70px;
    font-size: 28px;
    margin: 0;
    transform: translateX(0);
    animation: slideInRight 0.5s ease-out;
}
#chooseApartment.original {
    width: 356px;
    height: 90px;
    font-size: 37px;
    margin-left: 1069px;
    margin-top: 25px;
    animation: slideBack 0.5s ease-out;
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBack {
    from {
        position: fixed;
        top: 500px;
        right: -10px;
        width: 250px;
        height: 70px;
        font-size: 28px;
    }
    to {
        width: 356px;
        height: 90px;
        font-size: 37px;
        margin-left: 1069px;
        margin-top: 25px;
    }
}
.textLeftBottom {
    display: flex;
    font-size: 26px;
    margin-left: 77px;
    margin-top: 50px;
}
.textLeftBottom p {
    width: 120px;
}
.textLeftBottom img {
    margin-top: 13px;
    margin-right: 10px;
}
.imgArrow {
    margin-left: 800px;
    margin-top: -100px;
    animation: arrowMove 1.5s ease-in-out infinite;
}
@keyframes arrowMove {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

 .mainTwo {
    width: 100%;
    height: 1000px;
    margin-top: 300px;
}
.mainTwoFirstBlock {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.imgOne {
    position: relative;
}
.happyFamily {
    position: relative;
    top: -200px;
}
.imgCafe {
    margin-left: -100px;
}
.h2TextOne h2 {
    font-size: 550px;
    margin-left: 100px;
    color: #EEEEEE;
    opacity: 14%;
}
.textOne h2 {
    font-size: 130px;
    color: #FA6312;
    margin-top: -420px;
    margin-left: 320px;
}
.textOne p {
    font-size: 30px;
    color: #EEEEEE;
    margin-left: 320px;
}
.mainTwoSecondBlock {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}
.homeWithFamily {
    margin-left: 30px;
}
.imgCafeTwo {
    position: relative;
    top: 60px;
    margin-left: -110px;
}
.h2TextTwo h2 {
    font-size: 550px;
    color: #EEEEEE;
    opacity: 14%;
    margin-top: -40px;
}
.textTwo h2 {
    font-size: 130px;
    color: #FA6312;
    margin-top: -490px;
    margin-left: 30px;
}
.textTwo p {
    width: 200px;
    font-size: 30px;
    color: #EEEEEE;
    margin-left: 30px;
}
.mainTwoThirdBlock {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.houseClosely {
    position: relative;
    margin-left: -360px;
    top: 150px;
}
.imgCafeThree {
    position: relative;
    margin-left: 300px;
}
.h2TextThree h2 {
    font-size: 550px;
    margin-left: 100px;
    margin-top: 180px;
    color: #EEEEEE;
    opacity: 14%;
}
.textThree h2 {
    font-size: 130px;
    color: #FA6312;
    margin-top: -420px;
    margin-left: 320px;
}
.textThree p {
    font-size: 30px;
    color: #EEEEEE;
    margin-left: 320px;
    width: 200px;
}

.mainThree {
    width: 100%;
    display: flex;
    max-width: 1400px;
    padding: 60px 40px;
    margin-top: 1200px;
}
.mainThreeImage {
    flex: 0 0 868px;
}
.mainThreeRight {
    display: flex;
    flex-direction: column;
}
.mainThreeText {
    border-bottom: 1px solid #ccc;
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: all 0.4s ease;
}
.mainThreeRight:hover .mainThreeText {
    flex-grow: 0.7;
    opacity: 0.5;
}
.mainThreeRight:hover .mainThreeText:hover {
    flex-grow: 2.5;
    opacity: 1;
}
.mainThreeTextTitle {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    gap: 18px;
}
.mainThreeTextNumber {
    font-weight: 700;
    min-width: 40px;
}
.mainThreeTextMainText {
    width: 600px;
    font-family: 'Pobeda_Regular';
    font-size: 27px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    margin-top: 10px;
}
.mainThreeText:hover .mainThreeTextMainText {
    max-height: 200px;
    opacity: 1;
}

.mainFour {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 200px;
}
.mainFourCarousel {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}
.mainFourSlide {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}
.mainFourSlide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.mainFourSlideText {
    width: 600px;
    background-image: url(images/блокДляШапки.png);
    padding: 30px;
    position: absolute;
    top: 170px;
    margin-left: 100px;
    z-index: 10;
    color: #E1E1E1;
    font-size: 60px;
    font-weight: bold;
    max-width: 80%;
}
.mainFourSlideTextTwo {
    width: 600px;
    background-image: url(images/блокДляШапки.png);
    padding: 30px;
    position: absolute;
    top: 366px;
    margin-left: 100px;
    z-index: 10;
    color: #E1E1E1;
    font-size: 30px;
    font-family: 'Pobeda_Regular';
    max-width: 80%;
    opacity: 0;
}
.mainFourSlideTextTwo.active {
    opacity: 1;
    transform: translateY(0);
}
.mainFourCarouselIndicators {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}
.indicator {
    width: 350px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.indicator:hover {
    transform: scaleY(1.3);
}
.indicator.active {
    background-color: #FA6312;
}

.mainFive {
    margin-top: 100px;
    background-image: url(images/дляПанорамы.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    height: 815px;
}
.mainFive h2 {
    width: 900px;
    font-size: 100px;
    text-align: center;
    margin: auto;
    padding-top: 250px;
}
.mainFive h2 span {
    color: #FA6312;
}
.mainFive button {
    margin: auto;
    margin-left: 650px;
    margin-top: 50px;
}
.mainFive button a {
    text-decoration: none;
}

/* =====АДАПТИВ===== */

/* @media screen and (max-width: 1200px) {
    header {
        font-size: 22px;
        margin-left: 0;
    }
    .headerMiddle {
        width: 650px;
        margin-left: -20px;
    }
    .headerLeft img {
        width: 200px;
    }
}

@media screen and (max-width: 1024px) {
    header {
        font-size: 20px;
        height: 90px;
        margin-top: 15px;
    }
    .headerMiddle {
        width: 580px;
        height: 70px;
        margin-left: -15px;
    }
    .headerRight {
        width: 90px;
        height: 70px;
    }
    .headerLeft img {
        width: 180px;
    }
    .headerMiddle a, .headerRight a {
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 18px;
        height: 80px;
        margin-top: 10px;
        justify-content: space-around;
        padding: 0 20px;
    }
    .headerMiddle {
        opacity: 0;
        order: 3;
    }
    .headerRight {
        width: 80px;
        height: 60px;
    }
    .headerLeft img {
        width: 160px;
    }
    .headerMiddle a, .headerRight a {
        padding-top: 15px;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
        height: auto;
        position: relative;
        margin-left: 70px;
        padding: 10px 15px;
        justify-content: space-around;
    }
    .headerLeft {
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .headerRight {
        width: 80px;
        height: 50px;
        margin-left: -80px;
        margin-top: 20px;
    }
    .headerMiddle a, .headerRight a {
        padding-top: 12px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 10px;
        margin-left: -80px;
    }
    .headerMiddle {
        height: 45px;
        font-size: 14px;
    }
    .headerRight {
        width: 70px;
        height: 45px;
    }
    .headerLeft img {
        width: 140px;
    }
    .headerMiddle a, .headerRight a {
        padding-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    .headerMiddle {
        font-size: 12px;
        height: 40px;
    }
    .headerRight {
        width: 60px;
        height: 40px;
        font-size: 14px;
    }
    .headerLeft img {
        width: 120px;
    }
    .headerRight a {
        padding-top: 10px;
    }
}*/