* {
    margin: 0;
    padding: 0;
    font-family: 'Pobeda';
    color: #EEEEEE;
}
@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/ofont.ru_Pobeda_bold.ttf');
}
@font-face {
    font-family: 'Pobeda_Regular';
    src: url('../fonts/ofont.ru_Pobeda.ttf');
}

body {
    background-color: #161616;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 26px;
}
.headerMiddle {
    width: 743px;
    height: 75px;
    background-image: url(images/блокДляШапки.png);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}
.headerMiddle a, .headerRight a {
    padding-top: 22px;
    text-decoration: none;
}
.headerRight {
    width: 241px;
    height: 75px;
    background-color: #FA6312;
    display: flex;
    justify-content: space-around;
}

.mainOne {
    background-image: url(images/домНачало.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100%;
    height: 736px;
}