* {
    margin: 0;
    padding: 0;
    font-family: 'Pobeda';
    color: #EEEEEE;
}
@font-face {
    font-family: 'Pobeda';
    src: url('../fonts/ofont.ru_Pobeda_bold.ttf');
}
@font-face {
    font-family: 'Pobeda_Regular';
    src: url('../fonts/ofont.ru_Pobeda.ttf');
}

body {
    background-color: #161616;
    padding-top: 1px;
}

header {
    position: fixed;
    width: 1400px;
    left: 0;
    right: 0;
    margin: 20px auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 26px;
}
.headerLeft {
    margin-top: 7px;
}
.headerRight {
    width: 98px;
    height: 75px;
    background-color: #FA6312;
    display: flex;
    justify-content: space-around;
    transition: 0.3s ease;
}
.headerRight:hover {
    background-color: #c24a09;
}
.headerRight a {
    padding-top: 22px;
    text-decoration: none;
}

.mainOne {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    margin-top: 200px;
    padding-bottom: 100px;
}
.mainOneRight h2 {
    width: 900px;
    font-size: 100px;
    margin-left: 80px;
}
.mainOneRight h2 span {
    color: #FA6312;
}
.mainOneRight p {
    width: 800px;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 10px;
}

.mainTwo {
    width: 100%;
    margin-top: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.block {
    width: 499px;
    height: 534px;
    background-color: #2c2c2c;
    margin-bottom: 100px;
}
.mainTwo .top {
    font-size: 40px;
    margin-top: 20px;
}
.mainTwo .bottom {
    margin-top: 23px;
    margin-left: 30px;
}
.bottom h2 {
    font-size: 44px;
    color: #FA6312;
}
.bottom p {
    font-size: 24px;
    margin-top: 20px;
}
.mainTwo .mainTwoBottom {
    margin-left: 20px;
}
.top {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.houseDescription {
    display: flex;
    justify-content: space-around;
}


footer {
    background-color: #282828;
    height: 470px;
}
.footerTop {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.messengers {
    margin-left: 30px;
    margin-top: 30px;
}
.footerTopLeft .messengers {
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.footerTopLeft .logoFooter img {
    padding-top: 50px;
}
.footerTopMiddle .click {
    cursor: pointer;
    transition: all 0.2s ease;
}
.footerTopMiddle .click.copied {
    color: #c24a09;
    cursor: default;
}
.footerTopMiddle h3 {
    color: #FA6312;
    font-size: 53px;
}
.footerTopMiddle p {
    font-size: 23px;
    margin-bottom: 12px;
}
.footerTopMiddle .pOne {
    margin-top: 20px;
}
.footerTopRight {
    width: 400px;
    margin-top: 40px;
}
.footerTopRight h3 {
    color: #FA6312;
    font-size: 53px;
}
.footerTopRight form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #FA6312;
}
form input {
    width: 308px;
    height: 77px;
    border: none;
    background-color: #EEEEEE;
    color: #FA6312;
    font-size: 30px;
    padding-left: 20px;
}
input::placeholder {
    font-size: 30px;
    color: #F69661;
}
form button {
    width: 66px;
    height: 77px;
    border: none;
    background-color: #FA6312;
}
.footerBottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 110px;
    font-size: 23px;
}
.footerBottomRight {
    display: flex;
    justify-content: space-around;
}
.footerBottomRight img {
    margin-top: -25px;
}
.footerBottomRight a {
    text-decoration: none;
}